/*general text formatting of the web page*/
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: ;
}

/*creating the image background and keeping it fixed. I took this from online (found by joe)*/
html { 
	background: url('http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2011/09/11/Education/Images/graphingcalc.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* for navigation bar at the top, taken/modified from this website example
http://d.alistapart.com/css-positioning-101/example_j.html*/
#nav a {
	background: rgba(130,173, 0, 0.75);
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	width:33%;
	text-align: center;
	/*padding: 0 40px;*/
	line-height: 50px;
	font-size: 25px;
	border-right: 2px solid rgba(0,0,0, .4);
	border-bottom: 2px solid rgba(0,0,0, .4);
	border-radius:10px;
}

#nav a:hover {
	background: rgba(153, 211, 71, 1.000);
	border-radius:10px;
	border-right: 2px solid rgba(0,0,0, .95);
	border-bottom: 2px solid rgba(0,0,0, .95);
}

#nav { 
	height: 50px;
	border-radius:10px;
}

/*formatting for the twitter box at the top right of the page*/
#tweet_box {
	z-index: +1;  
	position: fixed;   /*this is for making the twitter stay fixed as your scroll down*/
	width: 200px;  
	height: 300px;
	background:rgba(64,153,255, 0.5);  /*the last value 0.5 is opacity*/
	top:15px;
	right:30px;
	border-radius: 10px;   /*makes rounded edges on the box*/
	clear: both;     
}

/*for formatting the text box that goes inside the twitter box*/
#tweet_box div {
	display: block;
	height: 50%;
	background: rgba(255,255,255, 0.5);
	border: 1px solid black;
	margin: 10px 35px 0px 35px;
}

/*formatting the twitter logo image so it looks nice*/
#twit_logo {
	opacity:.75;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10px
}

#email {
	z-index: +1;  
	position: fixed;   
	height: 15px; 
	top: 350px;
	right: 75px;
	border-radius: 10px;     
}

#email_logo {
	opacity: .7; 
	width: 100px;
	height: 100px;
}

/*the main opaque white container that runs through the page */
#container {
	width: 64%;
	margin: 0 auto;    /*centers it*/
	background:rgba(255,255,255, .85);
	border-radius:10px;
	border-right:rgba(0,0,0, 0.45) ;  /*my failed attempt at giving it a shadow*/
	border-bottom:rgba(0,0,0, 0.45) ;
}
/*formatting the "why do calculators cost..." statement at the top*/
#header {
	text-align: center;   
	padding: 0px 0px 0px 85px;
	margin-top:20px;
	font-size: 60px;
	color: #004a7f;
	font-weight: bold;
}

/*fomratting the paragraph of text at the top of the container*/
#miss_statement {    
/*	position: inline-block;*/
	color: black;
	font-size: 23px;
	width:45%;
	padding: 20px 260px 20px 45px;
}

#big_statement {
	margin: 20px 40px 20px 40px;
	font-size:29px;
	font-weight: bold;
}

/*for the first sentence in the mission statement*/
span {
	font-weight:bold;
}

/*the box in which i will compare hackulator price with TI and others*/
#comparison {
	position: inline-block;
	/*position: absolute;
	top: 275px;
	right: 250px;*/
	width: 200px;
	height: 300px;
	padding: 20px;
	border-bottom: 3px solid rgba(0,0,0, 0.3);
	border-right: 3px solid rgba(0,0,0, 0.3);
	background: rgba(238, 157, 97, 1.0000);
	border-radius: 10px;
	
	/*font-size:25px;
	background: white;
	/*border: 1px solid black;
	float: right;
	width: 20%;
	margin: 10px 30px 10px 30px;
	border-radius: 10px;*/
}

/*for the div that contains TI, HP and CASIO calculator prices that are crossed out*/
#competition {
	line-height: 50%;
	font-size: 250%;
	color: #565656;
}

#hack_price {
	color: white;
	background: rgba(90,167,221, 1);
	font-size: 250%;
	padding: 20px;
	border-radius: 10px;
	border-bottom: 3px solid #565656;
	border-right: 3px solid #565656;
}

#ppp {
	width: 85%;
	/*border: 1px dashed black;*/
	margin: 0 auto;
}
/*taken from http://css-tricks.com/examples/hrs/*/
#separator {  
	width: 100%;
    border: 0;
    height: 4px;
  /*  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));*/ 

    background-image: -webkit-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
    background-image:    -moz-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
    background-image:     -ms-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
    background-image:      -o-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 

}


#update_header {
	background-image: -webkit-linear-gradient(left, rgba(31,99,171,0.45), rgba(31,99,171,0.75), rgba(31,99,171,0.45)); 
    background-image:    -moz-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
    background-image:     -ms-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
    background-image:      -o-linear-gradient(left, rgba(31,99,171,0), rgba(31,99,171,0.75), rgba(31,99,171,0)); 
	
	padding: 10px;
	margin: auto;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	color: white;
	/*background: rgba(31,99,171,.65); */
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 15%;
}

.ppp_item {
	font-size: 15px;
	color: black;
	margin-top: 40px;
	font-size: 15px;
	border-radius: 10px;
	border-bottom: 3px solid #565656;
	border-right: 3px solid #565656;
}

.ppp_item > h1 {
	text-align: center;
}

.ppp_item > ul li  {
	font-size: 15px;
	padding-right: 10px;
	margin:1em 10% 1em 0;   
}


#progress {
	background: rgba(130,173, 0, 0.75);
}

#plans {
	background: rgba(90,167,221, 0.75);
}

#problems {
	background: rgba(238, 157, 97, 1.0000);
}


